<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766635206665-qaniv58m2ek2a6gvolsl7dtt47gljf92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766635206665-qaniv58m2ek2a6gvolsl7dtt47gljf92</string>
	<key>API_KEY</key>
	<string>AIzaSyBhnCCLf6TICGSLNmvBl9IQrQRvDlJhEOc</string>
	<key>GCM_SENDER_ID</key>
	<string>766635206665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillUpFlutter</string>
	<key>PROJECT_ID</key>
	<string>printee-42ede</string>
	<key>STORAGE_BUCKET</key>
	<string>printee-42ede.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766635206665:ios:b58aaa73453bca7cc1b0d8</string>
</dict>
</plist>